.buttonlogin {
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    margin: 5px;
    right: 150px;
    top: 15px;
    
    }

.buttonRegister{
    background-color: #CB997E;
    position: absolute;
    right: 70px;
    top: 20px;  
   
}

.login-register{
    position: absolute;
    right: 0;
    top:0;

}


#Header-Logo {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 20px;
    top: 20px;
    border-radius: 69px;
}