.team_section{
    background-color: #F5F5F5;
    position: absolute;
    top: 651px;
    height: 300px;
    width: 1215px;
    left: 0;
}

h3 {
    text-align: left;
}

/* .image-holder img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}  */

.team-member{
    background-color: #F5F5F5; 
    display: flex;
    align-items: center;
    float: left;
    padding-left: 20px;

}

.listOfMember{
    align-items: center;
    font-style: normal;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 15px;
    padding-left: 20px;

}


