.About-page{
    background-color: #FFF1E6;
    height: 651px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    position: absolute;
    left: 500px;
    top: 85px;
}

.bobba-love{
    text-align: left;
    background-color: #FFE8D6;
    position: absolute;
    Top: 130px;
    height: 198px;
    width: 1126px;
    left: 54px;
   
}



.Motto{
    position: absolute;
    top: 322px;
    left: 55px;

}

