.member-card {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    max-width: 375px;
    background-color: #f1f1f1;
  }
  
.member-card-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    width: 8rem; 
  }
  
.member-card-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
    padding: 1rem;
}

.member-img {
    width: 100%;
    padding: .5rem;
}

@media screen and (max-width: 960px) {
    .member-card {
        flex-direction: column;
    }
}