@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#nav-logo {
    width: 200px;
    height: 45px;
    padding: 2px;
}

.nav-button {
    width: 117px;
    height: 38px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.nav-button:hover, .popover-button:hover {
    transform: scale(1.05);
}

.nav-login {
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 6px;
    color: #000000;
}

.nav-login-link, .nav-login-link:hover {
    text-decoration: none;
    color: #000000;
}

.nav-register {
    background: #CB997E;
    border: 2px solid #AD795C;
    border-radius: 6px;
    color: #fff;
}

.nav-register-link, .nav-register-link:hover {
    text-decoration: none;
    color: #ffffff;
}

.popover-button {
    width: 105px;
    height: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.04em;
}

.popover-profile, .popover-logout {
    background: #fee2cc;
    border: 2px solid #000;
    border-radius: 6px;
    color: #000;
}

.popover-logout:hover, .popover-profile:hover {
    background: #Cd997E;
    border: 2px solid #AD795C;
    color: #fff;
}